body {
  background-color: rgb(200, 195, 211);
  margin: 0;
  font-family: "Muli", sans-serif;
}

#docs-container::-webkit-scrollbar {
  margin-top: 8vh;
  width: 1em;
}

#docs-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#docs-container::-webkit-scrollbar-thumb {
  background-color: rgb(73, 45, 139);
  outline: 1px solid slategrey;
}

a:-webkit-any-link {
  color: white;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(224, 213, 228);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid rgb(128, 39, 128);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.code-background {
  background-color: rgb(248, 242, 255);
  padding: 1em;
}

code {
  word-wrap: break-word;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(243, 238, 245);
  border-radius: 2px;
  text-align: center;
  transition: background-color 1s ease-in-out;
}

input:focus {
  outline: none;
  /* background-color: rgb(202, 164, 202); */
  background-color: rgb(177, 164, 202);
  /* color: rgb(128, 39, 128); */
  color: rgb(73, 45, 139);
  border: none;
  transition: background-color 1s ease-in-out;
}

input:valid {
  color: rgb(73, 45, 139);
  /* border-bottom: 2px solid rgb(128, 39, 128); */
}

.invalid-input {
  visibility: visible;
  color: rgb(255, 91, 91);
}

.valid-input {
  visibility: hidden;
}

.nav {
  background-color: rgb(73, 45, 139);
  width: 100%;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 3px rgb(85, 85, 85);
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav h1 {
  margin-left: 3vw;
  font-weight: 100;
}

.nav-link {
  color: white;
  margin-right: 1.5em;
}

#nav-left {
  display: flex;
  align-items: center;
}

#nav-right {
  display: flex;
  align-items: center;
}

#github-logo {
  padding-top: 2vh;
  height: 6vh;
  margin-right: 3vw;
}

#npm-logo {
  padding-top: 2.5vh;
  height: 6vh;
  margin-right: 1.5vw;
}

#genie-logo {
  padding-left: 1em;
  height: 6vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#form-and-editor-container{
  margin-top: 3em;
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
}

#landing-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 2s ease;
}

#landing-header{
  display: flex;
  width: 35%;
  height: 15%;
  font-size: 2em;
  align-items: center;
}

#landing-header h1{
  font-weight: 100;
}

#landing-container h3{
  font-weight: 100;
}

#landing-header img{
  height: 4em;
  margin-left: auto;
}

#landing-btn{
  margin-top: 3vh;
  text-decoration: none;
}

#docs-container{
  margin-top: 8vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#documenation-container {
  position: relative;
  width: 40%;
  left: 0;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  animation: fadein 2s;
}

.sidenav {
  width: 175px;
  height: 50vh;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 2em;
  line-height: 1.65;
  background-color: rgb(200, 195, 211);
  animation: fadein 2s;
}

.sidenav-indent {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.sidenav-indent > a {
  color: rgb(142, 131, 170);
}

.sidenav a {
  color: rgb(73, 45, 139);
  text-decoration: none;
}

.form-container {
  height: 90%;
  width: 100%;
  margin: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#form-and-editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#start-over-btn {
  width: 10%;
}

.form-style {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 1%;
  background-color: rgb(241, 239, 245);
  box-shadow: 0px 2px 2px rgb(175, 175, 175);
}

.staged-form {
  text-align: center;
  width: 25%;
  height: 75%;
}

#configure-editor {
  animation: fadein 2s;
}

#stage-zero-container {
  height: 85%;
  font-weight: 100;
  padding: 1.5em;
}

#stage-zero-container h1 {
  font-weight: 100;
  margin: 0;
}

#stage-zero-text {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
}

#stage-one-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45%;
  width: 100%;
  animation: fadein 1s ease-in;
}

#stage-one-header {
  width: 60%;
  margin-bottom: 0px;
  font-weight: 100;
}

#stage-one-underline {
  width: 30%;
}

#stage-one-input {
  font-size: 1.33em;
  width: 60%;
}

#stage-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  animation: fadein 1s ease-in;
}

#stage-two-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

#stage-two-container h1 {
  font-weight: 100;
}

#stage-two-input input {
  width: 30%;
  font-size: 1.33em;
}

#stage-two-input select {
  border: 0;
  background-color: rgb(177, 164, 202);
}

#stage-two-inputselect:focus {
  outline: none;
}

#stage-two-buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

#stage-three-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 100%;
  animation: fadein 2s;
}

#stage-three-container h1 {
  font-weight: 100;
}

#stage-three-crud {
  margin-top: 10%;
}

#stage-three-crud label {
  margin-right: 25px;
}

#stage-three-actions {
  margin-top: 15%;
}

#stage-three-actions input {
  margin-top: 5%;
  width: 30%;
  font-size: 1.33em;
}

#stage-three-buttons {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#submit-left-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}

#submit-page-left {
  width: 25%;
  height: 59%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  animation: fadein 1s;
}

#submit-left-inputs-container h3 {
  font-weight: 100;
  margin: 0;
}

#submit-left-inputs {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

#submit-left-button {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

#submit-left-button h3 {
  font-weight: 100;
}

#lamp-button {
  height: 3em;
  width: 5em;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#lamp-button-image {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  color: rgb(241, 239, 245);
  background-color: rgb(177, 164, 202);
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgb(175, 175, 175);
  transition: background-color 1s ease-in-out;
  outline: none;
}

.btn:hover {
  background-color: rgb(135, 115, 172);
  transition: background-color 1s ease-in-out;
}

@media (max-width: 12450px) {
  #genie-logo {
    padding-left: 0;
  }

  #documenation-container {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .staged-form {
    height: 440px;
    width: 30%;
  }

  #brace-editor {
    width: 100%;
  }

  .form-container {
    margin-left: 0;
  }

  #stage-one-container {
    height: 50%;
  }

  #stage-two-container {
    height: 60%;
  }

  #stage-three-container {
    height: 100%;
  }

  #submit-page-left {
    height: 68%;
  }

  #submit-left-button {
    height: 40%;
  }

  #submit-left-inputs-container {
    height: 40%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
