body {
  background-color: purple;
}

.nav {
  background-color: yellow;
  color: white;
}


.yml_form {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  text-align: center;
  border: 2px solid black;

}

.structure-entry{
  padding-bottom: 1em;
}

.model-name-entry{
  padding-bottom: 1em;
  padding-top: 1em;
}

.model-entry {
  padding: 1em;
  width: 100%;
}

.property-entry{
  display: flex;
  padding: 1em;
}

.property-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}